/*M!999999\- enable the sandbox mode */ 
-- MariaDB dump 10.19-11.8.2-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: news_db
-- ------------------------------------------------------
-- Server version	11.8.2-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*M!100616 SET @OLD_NOTE_VERBOSITY=@@NOTE_VERBOSITY, NOTE_VERBOSITY=0 */;

--
-- Table structure for table `auth_group`
--

DROP TABLE IF EXISTS `auth_group`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(150) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group`
--

LOCK TABLES `auth_group` WRITE;
/*!40000 ALTER TABLE `auth_group` DISABLE KEYS */;
set autocommit=0;
INSERT INTO `auth_group` VALUES
(3,'Editors'),
(2,'Journalists'),
(1,'Readers');
/*!40000 ALTER TABLE `auth_group` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `auth_group_permissions`
--

DROP TABLE IF EXISTS `auth_group_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group_permissions` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `group_id` int(11) NOT NULL,
  `permission_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_group_permissions_group_id_permission_id_0cd325b0_uniq` (`group_id`,`permission_id`),
  KEY `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_group_permissions_group_id_b120cbf9_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=67 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group_permissions`
--

LOCK TABLES `auth_group_permissions` WRITE;
/*!40000 ALTER TABLE `auth_group_permissions` DISABLE KEYS */;
set autocommit=0;
INSERT INTO `auth_group_permissions` VALUES
(1,1,32),
(2,1,36),
(10,2,29),
(11,2,30),
(12,2,31),
(5,2,32),
(6,2,33),
(7,2,34),
(8,2,35),
(9,2,36),
(25,3,30),
(26,3,31),
(21,3,32),
(22,3,34),
(23,3,35),
(24,3,36);
/*!40000 ALTER TABLE `auth_group_permissions` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `auth_permission`
--

DROP TABLE IF EXISTS `auth_permission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_permission` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `content_type_id` int(11) NOT NULL,
  `codename` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_permission_content_type_id_codename_01ab375a_uniq` (`content_type_id`,`codename`),
  CONSTRAINT `auth_permission_content_type_id_2f476e4b_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=37 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_permission`
--

LOCK TABLES `auth_permission` WRITE;
/*!40000 ALTER TABLE `auth_permission` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `auth_permission` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `django_admin_log`
--

DROP TABLE IF EXISTS `django_admin_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_admin_log` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `action_time` datetime(6) NOT NULL,
  `object_id` longtext DEFAULT NULL,
  `object_repr` varchar(200) NOT NULL,
  `action_flag` smallint(5) unsigned NOT NULL CHECK (`action_flag` >= 0),
  `change_message` longtext NOT NULL,
  `content_type_id` int(11) DEFAULT NULL,
  `user_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `django_admin_log_content_type_id_c4bce8eb_fk_django_co` (`content_type_id`),
  KEY `django_admin_log_user_id_c564eba6_fk_news_customuser_id` (`user_id`),
  CONSTRAINT `django_admin_log_content_type_id_c4bce8eb_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`),
  CONSTRAINT `django_admin_log_user_id_c564eba6_fk_news_customuser_id` FOREIGN KEY (`user_id`) REFERENCES `news_customuser` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_admin_log`
--

LOCK TABLES `django_admin_log` WRITE;
/*!40000 ALTER TABLE `django_admin_log` DISABLE KEYS */;
set autocommit=0;
INSERT INTO `django_admin_log` VALUES
(1,'2025-09-06 16:03:35.841293','1','Publisher1',1,'[{\"added\": {}}]',7,5);
/*!40000 ALTER TABLE `django_admin_log` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `django_content_type`
--

DROP TABLE IF EXISTS `django_content_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_content_type` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `app_label` varchar(100) NOT NULL,
  `model` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `django_content_type_app_label_model_76bd3d3b_uniq` (`app_label`,`model`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_content_type`
--

LOCK TABLES `django_content_type` WRITE;
/*!40000 ALTER TABLE `django_content_type` DISABLE KEYS */;
set autocommit=0;
INSERT INTO `django_content_type` VALUES
(1,'admin','logentry'),
(3,'auth','group'),
(2,'auth','permission'),
(4,'contenttypes','contenttype'),
(9,'news','article'),
(6,'news','customuser'),
(8,'news','newsletter'),
(7,'news','publisher'),
(5,'sessions','session');
/*!40000 ALTER TABLE `django_content_type` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `django_migrations`
--

DROP TABLE IF EXISTS `django_migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_migrations` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `app` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `applied` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_migrations`
--

LOCK TABLES `django_migrations` WRITE;
/*!40000 ALTER TABLE `django_migrations` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `django_migrations` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `django_session`
--

DROP TABLE IF EXISTS `django_session`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_session` (
  `session_key` varchar(40) NOT NULL,
  `session_data` longtext NOT NULL,
  `expire_date` datetime(6) NOT NULL,
  PRIMARY KEY (`session_key`),
  KEY `django_session_expire_date_a5c62663` (`expire_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_session`
--

LOCK TABLES `django_session` WRITE;
/*!40000 ALTER TABLE `django_session` DISABLE KEYS */;
set autocommit=0;
INSERT INTO `django_session` VALUES
('gtbe77tpcd1odaykycqrdgo6ql3xmb0g','.eJxVjEEOwiAQRe_C2hBgClNcuvcMZIBBqoYmpV0Z765NutDtf-_9lwi0rTVsnZcwZXEWIE6_W6T04LaDfKd2m2Wa27pMUe6KPGiX1znz83K4fweVev3W6EiZkjgPEagAkkdlvY12tBrIOOWILbEbdCSFRY0uGVCAFp3hrL14fwDdPTc5:1uuunt:umBwjRO6MIPB_BWKcGbkUEvMApu5sAGMhybNJcZr1cU','2025-09-20 15:26:13.994359');
/*!40000 ALTER TABLE `django_session` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `news_article`
--

DROP TABLE IF EXISTS `news_article`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `news_article` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `title` varchar(255) NOT NULL,
  `content` longtext NOT NULL,
  `approved` tinyint(1) NOT NULL,
  `date` datetime(6) NOT NULL,
  `journalist_id` bigint(20) DEFAULT NULL,
  `publisher_id` bigint(20) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `news_article_journalist_id_97044b2f_fk_news_customuser_id` (`journalist_id`),
  KEY `news_article_publisher_id_79babb86_fk_news_publisher_id` (`publisher_id`),
  CONSTRAINT `news_article_journalist_id_97044b2f_fk_news_customuser_id` FOREIGN KEY (`journalist_id`) REFERENCES `news_customuser` (`id`),
  CONSTRAINT `news_article_publisher_id_79babb86_fk_news_publisher_id` FOREIGN KEY (`publisher_id`) REFERENCES `news_publisher` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `news_article`
--

LOCK TABLES `news_article` WRITE;
/*!40000 ALTER TABLE `news_article` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `news_article` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `news_customuser`
--

DROP TABLE IF EXISTS `news_customuser`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `news_customuser` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `password` varchar(128) NOT NULL,
  `last_login` datetime(6) DEFAULT NULL,
  `is_superuser` tinyint(1) NOT NULL,
  `username` varchar(150) NOT NULL,
  `first_name` varchar(150) NOT NULL,
  `last_name` varchar(150) NOT NULL,
  `email` varchar(254) NOT NULL,
  `is_staff` tinyint(1) NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `date_joined` datetime(6) NOT NULL,
  `role` varchar(20) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `news_customuser`
--

LOCK TABLES `news_customuser` WRITE;
/*!40000 ALTER TABLE `news_customuser` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `news_customuser` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `news_customuser_groups`
--

DROP TABLE IF EXISTS `news_customuser_groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `news_customuser_groups` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `customuser_id` bigint(20) NOT NULL,
  `group_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `news_customuser_groups_customuser_id_group_id_1647de84_uniq` (`customuser_id`,`group_id`),
  KEY `news_customuser_groups_group_id_6b59464d_fk_auth_group_id` (`group_id`),
  CONSTRAINT `news_customuser_grou_customuser_id_5c17112c_fk_news_cust` FOREIGN KEY (`customuser_id`) REFERENCES `news_customuser` (`id`),
  CONSTRAINT `news_customuser_groups_group_id_6b59464d_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `news_customuser_groups`
--

LOCK TABLES `news_customuser_groups` WRITE;
/*!40000 ALTER TABLE `news_customuser_groups` DISABLE KEYS */;
set autocommit=0;
INSERT INTO `news_customuser_groups` VALUES
(1,1,1),
(3,2,2),
(5,3,3),
(7,4,2),
(9,5,1),
(10,6,2);
/*!40000 ALTER TABLE `news_customuser_groups` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `news_customuser_independent_articles`
--

DROP TABLE IF EXISTS `news_customuser_independent_articles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `news_customuser_independent_articles` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `customuser_id` bigint(20) NOT NULL,
  `article_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `news_customuser_independ_customuser_id_article_id_02abf3e4_uniq` (`customuser_id`,`article_id`),
  KEY `news_customuser_inde_article_id_b1c67c8f_fk_news_arti` (`article_id`),
  CONSTRAINT `news_customuser_inde_article_id_b1c67c8f_fk_news_arti` FOREIGN KEY (`article_id`) REFERENCES `news_article` (`id`),
  CONSTRAINT `news_customuser_inde_customuser_id_b60e098c_fk_news_cust` FOREIGN KEY (`customuser_id`) REFERENCES `news_customuser` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `news_customuser_independent_articles`
--

LOCK TABLES `news_customuser_independent_articles` WRITE;
/*!40000 ALTER TABLE `news_customuser_independent_articles` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `news_customuser_independent_articles` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `news_customuser_independent_newsletters`
--

DROP TABLE IF EXISTS `news_customuser_independent_newsletters`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `news_customuser_independent_newsletters` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `customuser_id` bigint(20) NOT NULL,
  `newsletter_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `news_customuser_independ_customuser_id_newsletter_cd45329d_uniq` (`customuser_id`,`newsletter_id`),
  KEY `news_customuser_inde_newsletter_id_d9067ef9_fk_news_news` (`newsletter_id`),
  CONSTRAINT `news_customuser_inde_customuser_id_c32e73f3_fk_news_cust` FOREIGN KEY (`customuser_id`) REFERENCES `news_customuser` (`id`),
  CONSTRAINT `news_customuser_inde_newsletter_id_d9067ef9_fk_news_news` FOREIGN KEY (`newsletter_id`) REFERENCES `news_newsletter` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `news_customuser_independent_newsletters`
--

LOCK TABLES `news_customuser_independent_newsletters` WRITE;
/*!40000 ALTER TABLE `news_customuser_independent_newsletters` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `news_customuser_independent_newsletters` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `news_customuser_subscribed_journalists`
--

DROP TABLE IF EXISTS `news_customuser_subscribed_journalists`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `news_customuser_subscribed_journalists` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `from_customuser_id` bigint(20) NOT NULL,
  `to_customuser_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `news_customuser_subscrib_from_customuser_id_to_cu_e641fae8_uniq` (`from_customuser_id`,`to_customuser_id`),
  KEY `news_customuser_subs_to_customuser_id_0c80384f_fk_news_cust` (`to_customuser_id`),
  CONSTRAINT `news_customuser_subs_from_customuser_id_94a63c10_fk_news_cust` FOREIGN KEY (`from_customuser_id`) REFERENCES `news_customuser` (`id`),
  CONSTRAINT `news_customuser_subs_to_customuser_id_0c80384f_fk_news_cust` FOREIGN KEY (`to_customuser_id`) REFERENCES `news_customuser` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `news_customuser_subscribed_journalists`
--

LOCK TABLES `news_customuser_subscribed_journalists` WRITE;
/*!40000 ALTER TABLE `news_customuser_subscribed_journalists` DISABLE KEYS */;
set autocommit=0;
INSERT INTO `news_customuser_subscribed_journalists` VALUES
(5,1,2);
/*!40000 ALTER TABLE `news_customuser_subscribed_journalists` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `news_customuser_subscribed_publishers`
--

DROP TABLE IF EXISTS `news_customuser_subscribed_publishers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `news_customuser_subscribed_publishers` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `customuser_id` bigint(20) NOT NULL,
  `publisher_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `news_customuser_subscrib_customuser_id_publisher__c24054ca_uniq` (`customuser_id`,`publisher_id`),
  KEY `news_customuser_subs_publisher_id_1cd6fd9c_fk_news_publ` (`publisher_id`),
  CONSTRAINT `news_customuser_subs_customuser_id_7dfd4a49_fk_news_cust` FOREIGN KEY (`customuser_id`) REFERENCES `news_customuser` (`id`),
  CONSTRAINT `news_customuser_subs_publisher_id_1cd6fd9c_fk_news_publ` FOREIGN KEY (`publisher_id`) REFERENCES `news_publisher` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `news_customuser_subscribed_publishers`
--

LOCK TABLES `news_customuser_subscribed_publishers` WRITE;
/*!40000 ALTER TABLE `news_customuser_subscribed_publishers` DISABLE KEYS */;
set autocommit=0;
INSERT INTO `news_customuser_subscribed_publishers` VALUES
(1,1,1);
/*!40000 ALTER TABLE `news_customuser_subscribed_publishers` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `news_customuser_user_permissions`
--

DROP TABLE IF EXISTS `news_customuser_user_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `news_customuser_user_permissions` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `customuser_id` bigint(20) NOT NULL,
  `permission_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `news_customuser_user_per_customuser_id_permission_728b5e18_uniq` (`customuser_id`,`permission_id`),
  KEY `news_customuser_user_permission_id_1ebfa9a4_fk_auth_perm` (`permission_id`),
  CONSTRAINT `news_customuser_user_customuser_id_233a4b30_fk_news_cust` FOREIGN KEY (`customuser_id`) REFERENCES `news_customuser` (`id`),
  CONSTRAINT `news_customuser_user_permission_id_1ebfa9a4_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `news_customuser_user_permissions`
--

LOCK TABLES `news_customuser_user_permissions` WRITE;
/*!40000 ALTER TABLE `news_customuser_user_permissions` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `news_customuser_user_permissions` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `news_newsletter`
--

DROP TABLE IF EXISTS `news_newsletter`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `news_newsletter` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `title` varchar(255) NOT NULL,
  `content` longtext NOT NULL,
  `date` datetime(6) NOT NULL,
  `journalist_id` bigint(20) DEFAULT NULL,
  `publisher_id` bigint(20) DEFAULT NULL,
  `approved` tinyint(1) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `news_newsletter_journalist_id_83526eed_fk_news_customuser_id` (`journalist_id`),
  KEY `news_newsletter_publisher_id_b6b31f32_fk_news_publisher_id` (`publisher_id`),
  CONSTRAINT `news_newsletter_journalist_id_83526eed_fk_news_customuser_id` FOREIGN KEY (`journalist_id`) REFERENCES `news_customuser` (`id`),
  CONSTRAINT `news_newsletter_publisher_id_b6b31f32_fk_news_publisher_id` FOREIGN KEY (`publisher_id`) REFERENCES `news_publisher` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `news_newsletter`
--

LOCK TABLES `news_newsletter` WRITE;
/*!40000 ALTER TABLE `news_newsletter` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `news_newsletter` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `news_publisher`
--

DROP TABLE IF EXISTS `news_publisher`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `news_publisher` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `news_publisher`
--

LOCK TABLES `news_publisher` WRITE;
/*!40000 ALTER TABLE `news_publisher` DISABLE KEYS */;
set autocommit=0;
INSERT INTO `news_publisher` VALUES
(1,'Publisher1');
/*!40000 ALTER TABLE `news_publisher` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `news_publisher_editors`
--

DROP TABLE IF EXISTS `news_publisher_editors`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `news_publisher_editors` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `publisher_id` bigint(20) NOT NULL,
  `customuser_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `news_publisher_editors_publisher_id_customuser_id_9c1a6430_uniq` (`publisher_id`,`customuser_id`),
  KEY `news_publisher_edito_customuser_id_8c732784_fk_news_cust` (`customuser_id`),
  CONSTRAINT `news_publisher_edito_customuser_id_8c732784_fk_news_cust` FOREIGN KEY (`customuser_id`) REFERENCES `news_customuser` (`id`),
  CONSTRAINT `news_publisher_edito_publisher_id_b8d8fa26_fk_news_publ` FOREIGN KEY (`publisher_id`) REFERENCES `news_publisher` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `news_publisher_editors`
--

LOCK TABLES `news_publisher_editors` WRITE;
/*!40000 ALTER TABLE `news_publisher_editors` DISABLE KEYS */;
set autocommit=0;
INSERT INTO `news_publisher_editors` VALUES
(1,1,3);
/*!40000 ALTER TABLE `news_publisher_editors` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `news_publisher_journalists`
--

DROP TABLE IF EXISTS `news_publisher_journalists`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `news_publisher_journalists` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `publisher_id` bigint(20) NOT NULL,
  `customuser_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `news_publisher_journalis_publisher_id_customuser__3b6b9314_uniq` (`publisher_id`,`customuser_id`),
  KEY `news_publisher_journ_customuser_id_ad94a34e_fk_news_cust` (`customuser_id`),
  CONSTRAINT `news_publisher_journ_customuser_id_ad94a34e_fk_news_cust` FOREIGN KEY (`customuser_id`) REFERENCES `news_customuser` (`id`),
  CONSTRAINT `news_publisher_journ_publisher_id_1994a4f6_fk_news_publ` FOREIGN KEY (`publisher_id`) REFERENCES `news_publisher` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `news_publisher_journalists`
--

LOCK TABLES `news_publisher_journalists` WRITE;
/*!40000 ALTER TABLE `news_publisher_journalists` DISABLE KEYS */;
set autocommit=0;
INSERT INTO `news_publisher_journalists` VALUES
(1,1,2);
/*!40000 ALTER TABLE `news_publisher_journalists` ENABLE KEYS */;
UNLOCK TABLES;
commit;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*M!100616 SET NOTE_VERBOSITY=@OLD_NOTE_VERBOSITY */;

-- Dump completed on 2025-09-06 19:30:00
